<template>
    <div>
        <router-view />
    </div>
</template>

<script>
    export default {
        name: 'Client-App',
        components: {},
        computed: {
            // title() {
            //     return this.$store.getters.title;
            // }
        },
        // data() {
        //     return {}
        // },

        // created() {},
        // mounted() {},
        computed: {
            isAuth() {
                return this.$store.getters['auth/isAuth'] === true
            },
        },
        // filters: {},
        // methods: {},
    }
</script>

<style scoped>
</style>
