<template>
    <!-- <div>
        <Dashboard v-if="isAuth" />

        <Login v-if="! isAuth" />
    </div> -->
    <div v-if="isAuth">
        <Dashboard />
    </div>
    <div v-else>
        <Login />
    </div>
</template>

<script>
    import Dashboard from './dashboard/Dashboard'
    import Login from './auth/Login'

    export default {
        name: 'home',

        components: {
            Dashboard,
            Login,
        },
        
        data() {
            return {
                //
            }
        },

        computed: {
            isAuth() {
                return this.$store.getters['auth/isAuth'] === true
            },
            // token() {
            //     return axios.defaults.headers.common["Authorization"]
            // }
        },
    }
</script>
