// Tasks

/* 
- Activate will open a form 
- If no purchase yet packages "Looks like you haven't purchased a package yet."
- Add redirect button to purchase a package
*/

<template>
    <div class="about">
        <div class="pb-4 flex">
            <div class="flex content-end">
                <h2 class="mb-2">Build your funnel</h2>
                <!-- <p>{{ sub }}</p> -->
                <div class="flex">
                    <button @click="goBack" class="justify-end ml-10 text-black font-bold rounded-full border border-black px-8 py-5 justify-end ml-2">
                        <font-awesome-icon icon="graduation-cap" class="mr-2" /> 
                        Learn About Funnels
                    </button>
                </div>
            </div>
        </div>
        <!-- New From -->

        <template v-if="! finalize.show" v-for="(selection, s_index) in selections">
            <div v-show="selected.current_index == s_index" :key="s_index" class="bg-grey-lightest rounded py-8 px-4 border shadow">
                <div class="question">
                    <div class="question-text mb-5">
                        <h2>{{ selection.title }}</h2>
                    </div>
                    
                    <div class="question-choices">
                        <div class="question-choice" v-for="(option, o_index) in selection.options" :key="o_index">
                            <div class="form-group border border-black rounded m-2 p-4 bg-white shadow">

                                <label :for="option.option">
                                    <input 
                                    @click="onSelectOption(o_index)" 
                                    v-model="selected.data[selected.current_index]" 
                                    :name="selection.title" 
                                    :value="option" 
                                    type="radio" /> {{ option.option }}
                                </label>

                                <p>+ {{ option.cost | currency_pound }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <button @click="back()" :disabled="!can_click_back_btn" class=" rounded bg-grey font-bold p-4 mr-2">back</button>
                <button @click="next()" :disabled="!can_click_next_btn" class="rounded bg-grey font-bold p-4 mr-2">next</button>

                <button @click="finalize_purchase()" v-show="can_see_final_btn" class="rounded bg-grey font-bold p-4 mr-2">Proceed to Finalize</button>
            </div>
        </template>

        <template v-if="finalize.show">
            <p>Total: {{ this.finalize.total | currency_pound }}</p>

            <button @click="finalize.show = false" class="rounded bg-grey font-bold p-4 mr-2">back</button>
            <button @click="checkout()" class="rounded bg-grey font-bold p-4 mr-2">Proceed to Checkout</button>
        </template>

        <div class="w-full bg-black text-white rounded px-5 py-2 justify-end border border-black">
            Don't have what your looking for?
        </div>

        <button @click="goBack" class=" bg-grey-lighter rounded px-8 py-5 justify-end ml-2 font-bold mt-4">
            <font-awesome-icon icon="chevron-left" class="mr-2" /> 
            Back to Add-ons
        </button>
        <!--
        <button @click="goBack" class="ml-10 bg-grey-lighter rounded px-8 py-5 justify-end ml-2">Next</button>
        -->
    </div>
</template>

<script>
export default {
    data() {
        return {
            selected: {
                current_index: 0,
                data: [],
            },

            finalize: {
                show: false,
                total: 0,
            },
            
		    index: 0,
            name: 'How many funnels steps do you need?',
            sub: 'Click here to find out what email marketing is and how it can help you',
        }
    },

    created() {
        this.initProductData()
    },

    mounted () {
        // console.log('product:',JSON.parse(this.product.selections))
    },

    computed: {
        is_all_data_ready() {
            return (
                this.flags.product_is_loaded === true && 
                this.flags.selections_is_loaded === true && 
                this.flags.selected_is_populated === true
            )
        },
        product() {
            return this.$store.getters['products/all'].find(
                product => product.slug = this.$router.app._route.params.slug
            )
        },
        selections() {
            return JSON.parse(this.product.selections)
        },
        current_index() {
            return this.selected.current_index
        },

        can_click_back_btn() {
            return this.selected.current_index > 0
        },
        can_click_next_btn() {
            return this.selected.current_index != (this.selections.length-1) && typeof this.selected.data[this.current_index] == 'object'
        },
        can_see_final_btn() {
            return this.selected.data.length === this.selections.length
        },
    },

    methods: {
        initProductData() {
            this.$store.dispatch('products/init')
        },

        onSelectOption(option_id) {
            // console.log('selected data:',(this.selected.data))
        },

        next() {
			if (this.selected.current_index < this.selections.length - 1) {
				this.selected.current_index++
			}
        },
        
		back() {
			if (this.selected.current_index > 0) {
				this.selected.current_index--
			}
		},

        finalize_purchase() {
            this.finalize.total = 0

            for (let i=0; i<this.selected.data.length; i++) {
                // console.log('cost:', this.selected.data[i].cost)
                this.finalize.total += parseFloat(this.selected.data[i].cost)
            }

            this.finalize.show = true
        },

        checkout() {
            //debug:
            // console.log('total:', this.finalize.total)
            // console.log('product id:',this.product.id)
            // console.log('selected pricings:',JSON.stringify(this.selected.data))

            this.$router.push({ name:'checkout', params:{
                total: this.finalize.total, 
                product_slug: this.product.slug, 
                selected: JSON.stringify(this.selected.data)
            } })
        },

        goBack() {
            this.$router.go(-1)
        },
    }
}
</script>
