// Tasks

/* 
- Activate will open a form 
- If no purchase yet packages "Looks like you haven't purchased a package yet."
- Add redirect button to purchase a package
*/

<template>
    <div class="about">
        <template v-for="(detail, index) in details">
            <div class="pb-4 flex" :key="index">
                <button @click="goBack" class="bg-grey-lighter rounded px-8 py-5 justify-end ml-2">Back</button>
            </div>

            <div class="flex flex-wrap -mx-2" :key="index">
                <div class="w-2/3 px-2 py-2">
                    <!-- <h1>{{ detail.title }}</h1><p>{{ detail.description }}</p> -->
                    <div v-html="compiledMarkdown"></div>
                </div>

                <div class="px-2 py-2 w-full">
                    <div class="overflow-hidden flex-row box  border-black border rounded bg-white shadow">
                        <!--
                        <img v-bind:src="detail.img">
                        -->
                        <div class="p-4">
                            <hr>
                            <hr>

                            <!-- Dropdown 
                            <div class="relative">

                                <select class="block appearance-none w-full bg-grey-lighter border border-grey-lighter text-grey-darker py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-grey" id="grid-state">
                                    <option>Express + $100</option>
                                </select>
                                <div class="pointer-events-none absolute pin-y pin-r flex items-center px-2 text-grey-darker">
                                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                                </div>
                            </div>
                            Dropdown End -->

                            <div class="pt-8">
                                <button class="bg-green-dark text-white rounded px-8 py-5 justify-end">Buy - £{{ detail.price }} </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </div>
</template>

<script>
    // Import Markdown
    import marked from 'marked';

    export default {
        data() {
            return {
                name: 'Facebook Ads',
                details: [],
            }
        },

        mounted () {
            axios
            .get('/products?id=' + this.$route.params.id)
            .then(response => this.details = response.data)
            .catch(error => console.log(error))
        },

        methods: { 
            goBack() {
                this.$router.go(-1)
            }
        },

        // computed: {
        //     compiledMarkdown: function () {
        //         return marked(this.description, { sanitize: true })
        //     }
        // },
    }
</script>
