<template>
    <div class="about">
        <!-- ADD-ONS -->
        <div class="pb-4">
            <h2 class="mb-2">Add-ons</h2>
            <p>Boost your ad performance with fully customizable Addons</p>
        </div>

        <!-- <div class="flex flex-wrap -mx-2">
            <router-link :to="{ name: 'addons', params: { id: categorie.id }}" class="no-underline">
            </router-link>
        </div> -->
        <template v-if="is_products_loaded">
            <div class="flex flex-wrap -mx-2">
                <div v-for="(product, index) of products" :key="index" class="w-1/4 px-2 py-2">
                    <router-link :to="{ name: 'addon', params: { slug: product.slug }}" class="no-underline">
                        <div class="flex-row overflow-hidden border rounded hover:shadow border-grey hover:border-black">
                            <div class="flex justify-center">
                                <img :src="`/${product.image}`" class="pt-6 w-32 self-center pb-6">
                            </div>
                            <div class="flex box font-bold text-black no-underline pb-8 bg-white justify-center ">
                                <p v-text="product.name"></p>
                            </div>
                        </div>
                    </router-link>
                </div>
            </div>
        </template>
        

        <!-- PLACEHOLDER LOADER -->
        <template v-if="! is_products_loaded">
            <div class="flex flex-wrap -mx-2 pl_categories">
                <div class="w-1/4 px-2 py-2" v-for="(item, index) in [1,2,3,4]" :key="index">
                    <div class="pl_cat">
                        <div class="pl_cat_circle _sk_placeholder"></div>
                        <div class="pl_cat_title _sk_placeholder"></div>
                    </div>
                </div>
            </div>
        </template>

        <!-- MOST POPULAR -->
        <h2 class="mb-2 mt-2">Most Popular</h2>
        <p>Here are our most popular Addons</p>
    </div>
</template>


<script>
export default {
    name: 'Categories',
    data() {
        return {
            //
        }
    },

    created() {
        this.initProductData()
    },

    // mounted () {},

    computed: {
        products() {
            return this.$store.getters['products/all']
        },

        is_products_loaded() {
            return this.$store.getters['products/is_loaded']
        },
    },
    
    methods: {
        initProductData() {
            this.$store.dispatch("products/init")
        },
    },
}
</script>


<style>
    .pl_cat {
        height: 176px;
        border: solid 1px #d2d2d2;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        padding: 20px 20px 40px 20px;
    }
    .pl_cat_circle {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
    }
    .pl_cat_title {
        height: 20px;
        width: 96%;
        margin: 10px auto;
    }
</style>
