<template>
    <div>
        <h1>Checkout</h1>

        <p>Purchasing:</p>
        <p>Product: <b>{{ product.name }}</b></p>
        
        <br />

        <p>Selected Options:</p>
        <ul>
            <li v-for="(option, index) of selections" :key="index">
                {{ option.option }} - {{ option.cost | currency_pound }}
            </li>
        </ul>

        <br />

        <p>Total: {{ total | currency_pound }}</p>

        <br />
        
        <button @click="checkout()" class="rounded bg-grey font-bold p-4 mr-2">Checkout</button>
    </div>
</template>

<script>
export default {
    name: 'Checkout',
    data() {
        return {
            selections: [],
            total: 0,
        }
    },

    created() {
        this.selections = JSON.parse(this.$route.params.selected)
        this.total = this.$route.params.total
    },

    mounted () {
    },

    computed: {
        product() {
            return this.$store.getters['products/all'].find(
                product => product.slug = this.$router.app._route.params.product_slug
            )
        },
    },

    methods: {
        checkout() {
            console.log('checking out..')
            this.$store.dispatch('purchase/checkout', {
                product_slug: this.$route.params.product_slug,
                selected: this.$route.params.selected,
                total: this.$route.params.total
            })
        },
    }
}
</script>
