// Tasks

/*
- Are you sure you wish to upgrade?
- Are you sure you wish to cancel?
- Add content for each package
- Make one package standout
- Subscribe button if not already subscribed
- Are you sure you want to subscribe modal
- SVG for each package?
- Benfits to upgrading
- Upgrade only $10 more on the button
- What happens once you subscribe? redirect to payment/adding a card
*/

<template>
    <div class="cards">
        <div class="pb-4">
            <div class="flex-row">
                <h2 class="mb-2">{{ name }}</h2>
                <p>{{ sub }}</p>
            </div>
        </div>

        <div class="flex flex-wrap -mx-2">
            <template v-for="(subscription, s_index) in subscriptions">
                <div :key="s_index" class="px-2 py-2 w-1/3">
                    <div class="flex-row  box font-bold overflow-hidden border-black border rounded bg-white shadow">
                        <div class="bg-grey-lighter p-4 text-center">
                            <h3 class="">{{ subscription.name }}</h3>
                        </div>

                        <div class="p-8">
                            <hr>

                            <font-awesome-icon icon="trophy" class="mr-4" />
                            <p>£{{ subscription.price }}</p>
                            <p>{{ subscription.image }}</p>

                            <!-- list of benfits -->
                            <div class="py-4">
                                <template v-for="(benfits, b_index) in subscription.benfits">
                                    <ul :key="b_index" class="font-light pl-0 list-reset">
                                        <li>{{ benfits }}</li>
                                    </ul>
                                </template>
                            </div>

                            <template v-if="subscription.subscribed == 1">
                                <button class="text-white bg-grey-darkest rounded px-8 py-5 justify-end">Subscribed ✓</button>
                                <p class="font-light underline mt-2">Cancel Subscription</p>
                            </template>

                            <template v-else>
                                <button class="border border-black rounded px-8 py-5 justify-end">Upgrade - {{subscription.price}}</button>
                            </template>
                        </div>
                    </div>
                </div>
            </template>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                name: 'Subscriptions',
                sub: 'Here\'s a list of subscriptions',
                subscriptions: [
                    { 
                        name: 'Bronze', 
                        price: 199,
                        image: 'image.jpg', 
                        benfits: ['1 weekly Facebook Ad', 'Point 2', 'Point 2', 'Point 4', 'Point 5'],
                        subscribed: 1,
                    },
                    { 
                        name: 'Silver', 
                        price: 399,
                        image: 'image.jpg', 
                        benfits: ['Point 1', 'Point 2', 'Point 2', 'Point 4', 'Point 5'],
                    },
                    { 
                        name: 'Gold', 
                        price: 499,
                        image: 'image.jpg', 
                        benfits: ['Point 1', 'Point 2', 'Point 2', 'Point 4', 'Point 5'],
                    },
                ]
            }
        }
    }
</script>
