<template>
    <div>
        <h1>Drive</h1>
        <p>Upload and download your files.</p>

        <ul class="flex-col border border-black p-8 no-underline">
            <li>(img icon) File 1 - Download - Size 80kb</li>
            <li>(folder icon) Folder</li>
            <li>File 3 - Download</li>
            <li>File 4 - Download</li>
            <li>File 5 - Download</li>
        </ul>
        
        <button class="p-8 bg-grey-light">Upload File</button>
        <button class="p-8 bg-grey-light ml-2">Create Folder</button>
    </div>
</template>
