.ph_box_loader {
    height: 120px;
    // border: 1px solid lightgrey;
    border-radius: 5px;
    width: 100%;
    animation: pulse 1s infinite ease-in-out;
    -webkit-animation: pulse 1s infinite ease-in-out;

    // -webkit-animation: skeleton-animation 1.2s ease-in-out infinite !important;
    // animation: skeleton-animation 1.2s ease-in-out infinite !important;
    // background-color: #eee !important;
    // background-image: -webkit-gradient(linear,left top,right top,from(#eee),color-stop(#f5f5f5),to(#eee)) !important;
    // background-image: linear-gradient(90deg,#eee,#f5f5f5,#eee) !important;
    // background-repeat: no-repeat !important;
    // background-size: 200px 100% !important;
}




@keyframes pulse {
    0%{
        background-color: rgba(165,165,165,.1);
    }
    50%{
        background-color: rgba(165,165,165,.3);
    }
    100%{
        background-color: rgba(165,165,165,.1);
    }
}
@-webkit-keyframes pulse {
    0%{
        background-color: rgba(165,165,165,.1);
    }
    50%{
        background-color: rgba(165,165,165,.3);
    }
    100%{
        background-color: rgba(165,165,165,.1);
    }
}




// Skeleton Loader | https://codepen.io/viktorstrate/pen/yoBRLy
$base-color: #ddd;
$shine-color: #e8e8e8;
$animation-duration: 1.6s;
$avatar-offset: 52 + 16;

@mixin background-gradient {
    background-image: linear-gradient(90deg, $base-color 0px, $shine-color 40px, $base-color 80px) ;
    background-size: 600px;
}

// body {
//     margin: 0;
// }
// .container {
//     height: 100vh;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
// }

._sk_placeholder {
    @include background-gradient;
    animation: shine-avatar $animation-duration infinite linear;
}
  
// .skl_post {
//     width: 220px;
//     height: 80px;
//     .avatar {
//         float: left;
//         width: 52px;
//         height: 52px;
//         background-color: #ccc;
//         border-radius: 25%;
//         margin: 8px;
    
//         @include background-gradient;
//         animation: shine-avatar $animation-duration infinite linear;
//     }
//     .line {
//         float: left;
//         width: 140px;
//         height: 16px;
//         margin-top: 12px;
//         border-radius: 7px;
    
//         @include background-gradient;
//         animation: shine-lines $animation-duration infinite linear;
//     }
//     .avatar + .line {
//         margin-top: 11px;
//         width: 100px;
//     }
//     .line ~ .line {
//         background-color: #ddd;
//     }
// }

@keyframes shine-lines {
    0% {
        background-position: -100px;
    }
    40% {
        background-position: 140px;
    }
    100% {
        background-position: 140px;
    }
}
@keyframes shine-avatar{
    0% {
        background-position: -100px + $avatar-offset;
    }
    40% {
        background-position: 140px + $avatar-offset;
    }
    100% {
        background-position: 140px + $avatar-offset;
    }
}
// End Skeleton Loader 





// $color-base: #ccc;
// $color-highlight: lighten($color-base, 7%);

// .skeleton {
//     position: relative;
//     overflow: hidden;
//     width: 50%;
//     height: 40px;
//     background: $color-base;
    
//     &::after {
//         content: '';
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//         background: linear-gradient(90deg, $color-base, $color-highlight, $color-base);
//         animation: progress 1s ease-in-out infinite;
//     }
// }

// @keyframes progress {
//     0% {
//         transform: translate3d(-100%, 0, 0);
//     }
//     100% {
//         transform: translate3d(100%, 0, 0);
//     }
// }