.ph_box_loader {
  height: 120px;
  border-radius: 5px;
  width: 100%;
          animation: pulse 1s infinite ease-in-out;
  -webkit-animation: pulse 1s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    background-color: rgba(165, 165, 165, .1);
  }

  50% {
    background-color: rgba(165, 165, 165, .3);
  }

  100% {
    background-color: rgba(165, 165, 165, .1);
  }
}

@-webkit-keyframes pulse {
  0% {
    background-color: rgba(165, 165, 165, .1);
  }

  50% {
    background-color: rgba(165, 165, 165, .3);
  }

  100% {
    background-color: rgba(165, 165, 165, .1);
  }
}

._sk_placeholder {
  background-image: linear-gradient(90deg, #ddd 0px, #e8e8e8 40px, #ddd 80px);
  background-size: 600px;
  -webkit-animation: shine-avatar 1.6s infinite linear;
          animation: shine-avatar 1.6s infinite linear;
}

@-webkit-keyframes shine-lines {
  0% {
    background-position: -100px;
  }

  40% {
    background-position: 140px;
  }

  100% {
    background-position: 140px;
  }
}

@keyframes shine-lines {
  0% {
    background-position: -100px;
  }

  40% {
    background-position: 140px;
  }

  100% {
    background-position: 140px;
  }
}

@-webkit-keyframes shine-avatar {
  0% {
    background-position: -32px;
  }

  40% {
    background-position: 208px;
  }

  100% {
    background-position: 208px;
  }
}

@keyframes shine-avatar {
  0% {
    background-position: -32px;
  }

  40% {
    background-position: 208px;
  }

  100% {
    background-position: 208px;
  }
}
