<template>
    <div class="cards">
        <div class="pb-4">
            <div class="flex-row">
                <div>
                    <h2 class="mb-2">{{ name }}</h2>
                    <p>{{ sub }}</p>
                    <p>info</p>
                </div>
                <button @click="newTicket()" 
                class="bg-grey-lighter rounded px-8 py-5 justify-end">
                    {{ btn_create_ticket_text }}
                </button>
            </div>
        </div>

        <template v-if="new_ticket.form.show">
            <form method="post" @submit.prevent="newTicketSubmit()" class="w-full max-w-md">
                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full px-3">
                        <p class="text-grey-dark text-sm">Reference number: {{ new_ticket.form.inputs.ref_id }}</p>
                    </div>
                </div>

                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full px-3">
                        <label for="title" class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2">
                            Title
                        </label>
                        <input 
                        v-model="new_ticket.form.inputs.title"
                        id="title" type="text" name="title" placeholder="give this new ticket a title" 
                        class="appearance-none block w-full border border-grey-lighter rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-grey">
                    </div>
                </div>

                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full px-3">
                        <button :disabled="! can_submit" 
                        type="submit" 
                        class="bg-grey-lighter rounded px-8 py-5 justify-end pull-right">Submit</button>
                    </div>
                </div>
            </form>
        </template>

        <div class="flex flex-wrap -mx-2">
            <template v-for="(ticket, index) in tickets">
                <div :key="index" class="px-2 py-2 w-full">
                    <div class="flex-row box font-bold border-black p-8 border rounded bg-white shadow">
                        <p>{{ ticket.attributes.title }}</p>
                        <p>{{ ticket.attributes.ref_id }}</p>
                    </div>
                </div>
            </template>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                name: 'Tickets',
                sub: 'Create new ticket',

                new_ticket: {
                    status: 'initial',
                    form: {
                        show: false,
                        inputs: {
                            ref_id: 0,
                            title: ''
                        },
                    },
                },
            }
        },

        created() {
            this.initTicketData()
        },

        computed: {
            tickets() {
                return this.$store.getters['tickets/all']
            },

            is_tickets_loaded() {
                return this.$store.getters['tickets/is_loaded']
            },

            btn_create_ticket_text() {
                return this.new_ticket.form.show ? 'Cancel' : 'Create Ticket'
            },
            can_submit() {
                return this.new_ticket.form.inputs.title.trim() != '' && this.$store.getters['tickets/create_status_is_ready'] === true
            },
            create_status() {
                return this.$store.getters['tickets/create_status_is_ready']
            },
        },
        
        methods: {
            initTicketData() {
                this.$store.dispatch("tickets/init")
            },

            newTicket() {
                this.new_ticket.form.show = ! this.new_ticket.form.show

                if (this.new_ticket.form.show === false) {
                    return
                }

                let min = 1000000000000000
                let max = 9999999999999999

                let random = Math.random() * (max-min) + min
                random = Math.floor(random)

                this.new_ticket.form.inputs.ref_id = random
            },

            newTicketSubmit() {
                this.$store.dispatch('tickets/create', this.new_ticket.form.inputs)

                this.new_ticket.form.inputs.title = ''
                this.newTicket()
            },
        },
    }
</script>
