<template>
    <div class="connect">
        <div class="pb-4">
            <h2 class="mb-2">Connect</h2>
            <p>Connect your services to the platform</p>
        </div>

        <div class="flex flex-wrap -mx-2">
            <div class="px-2 py-2 w-1/4">
                <div class="flex-row box font-bold border-black p-8 border rounded bg-white shadow">
                    <div class="flex">
                        <font-awesome-icon :icon="['fab', 'facebook']" class="mr-4" />
                        <p>Facebook</p>
                    </div>
                    <button class="mt-4 bg-grey p-4 rounded">Disconnect</button>
                </div>
            </div>
            
            <div class="px-2 py-2 w-1/4">
                <div class="flex-row items-center box font-bold border-black p-8 border rounded bg-white shadow">
                    <div class="flex">
                        <font-awesome-icon :icon="['fab', 'google']" class="mr-4" />
                        <p>AdWords</p>
                    </div>
                    <div class="w-full">
                        <button class="mt-4 bg-white border border-black p-4 rounded">Connect</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
