<template>
    <div class="">
        <button @click="goBack" class=" bg-grey-lighter rounded px-8 py-5 justify-end font-bold mb-4">
            <font-awesome-icon icon="chevron-left" class="mr-2" /> 
            Back
        </button>
        <button class="justify-end ml-10 text-black font-bold rounded border border-black px-8 py-5 justify-end ml-2">
            <font-awesome-icon icon="download" class="mr-2" />
            Download
        </button>

        <div class="border border-grey rounded overflow-hidden p-8 mb-8">
            <div class="flex">
                <!-- Company Info -->
                <div class="w-1/2">
                    <h3>Demo Platform</h3>
                    <p>101 Avenue of the Americas, 10th Floor, New York, NY, 10013, United States</p>
                    <p>accounts@demoplatform.com</p>
                    <p>+44 1132696935</p>
                </div>

                <!-- Summary -->
                <div class="border w-1/2 p-8 rounded">
                    <div class="mb-8">
                        <span class="text-red border border-red py-4 px-5 border-8 rounded font-bold">Paid</span>
                    </div>
                    <h3>Invoice</h3>
                    <p>Invoice Number: #{{ billing.number }}</p>
                    <p>Invoice Amount: ${{ billing.amount }}</p>
                    <p>Issued Date: {{ billing.date }}</p>
                </div>
            </div>
            
            <p><b>BILLED TO</b></p>
            <p class="flex w-full">
                {{ billing.name }} <br>
                {{ billing.company }}<br>
                {{ billing.to }}<br>
                {{ billing.address }} {{ billing.email }}<br>
                {{ billing.phone }}
            </p>

            <!-- Description -->

            <table class="text-left w-full mt-4">
                <thead class="flex text-black w-full">
                    <tr class="flex w-full uppercase border-b pb-4">
                        <th class="pr-4 w-1/2">Description</th>
                        <th class="pr-4 w-1/6">Quantity </th>
                        <th class="pr-4 w-1/6">Price</th>
                        <th class="pr-4 w-1/6">Amount (GBP)</th>
                    </tr>
                </thead>
                <!-- Remove the nasty inline CSS fixed height on production and replace it with a CSS class — this is just for demonstration purposes! -->
                <tbody class="flex flex-col items-center justify-between w-full ">
                    <tr class="flex w-full pt-4 bg-grey-lightest pb-4 border-b">
                        <td class="pr-4 w-1/2">This is a large item name that you have purchased</td>
                        <td class="pr-4 w-1/6">1</td>
                        <td class="pr-4 w-1/6">$200</td>
                        <td class="pr-4 w-1/6">$200*</td>
                    </tr>
                </tbody>
	        </table>

            <div class="mt-4 pt-4 p-2 font-bold float-right">
                <p>Subtotal <b>$200</b></p>
                <p>Tax (20%) $40</p>
                <p>Total: $240</p>
            </div>

            <p class="mt-8">Thank you for working with us!</p>

        </div>
    </div>
</template>

<script>
    export default {
        name: 'Services',
        data() {
            return {
                billing: [],
            }
        },

        mounted () {
            axios
            .get('billing/' + this.$route.params.id)
            .then(response => this.billing = response.data)
            .catch(error => console.log(error))
        },

        methods: { 
            goBack() {
                this.$router.go(-1)
            },
        }
    }
</script>
