// Tasks

// Show printable PDF invoice

<template>
    <div class="invoices">
        <h1>Billing history</h1>

        <table class="text-left w-full mt-4 border border-grey-light ">
            <thead class="bg-grey-lightest flex text-black w-full">
                <tr class="flex w-full">
                    <th class="p-4 w-1/4">Date</th>
                    <th class="p-4 w-1/4">Description</th>
                    <th class="p-4 w-1/4">Amount</th>
                    <th class="p-4 w-1/4"></th>
                </tr>
            </thead>

            <!-- Remove the nasty inline CSS fixed height on production and replace it with a CSS class — this is just for demonstration purposes! -->
            <template v-for="(billing, index) in payments">
                <tbody :key="index" class="flex flex-col items-center justify-between w-full ">
                    <tr class="flex w-full border-b border-grey hover:bg-grey-lighter">
                        <td class="p-4 w-1/4 border-black">{{ billing.date }}</td>
                        <td class="p-4 w-1/4">{{ billing.desc }}</td>
                        <td class="p-4 w-1/4">£{{ billing.amount }}</td>
                        <router-link :to="{ name: 'invoice', params: { id: billing.id }}" class="no-underline">                        
                            <td class="p-4 w-1/4 text-blue">View Details</td>
                        </router-link>
                    </tr>
                </tbody>
            </template>
        </table>

        <div class="display flex p-8 justify-center items-center">
            <p class="text-black mr-4 font-bold font-bold">Previous</p>
            <p class="bg-grey-lighter py-4 px-5 border rounded text-black mr-4 font-bold">1</p>
            <p class="bg-black py-4 px-5 border rounded text-white mr-4 font-bold">2</p>
            <p class="bg-grey-lighter py-4 px-5 border rounded text-black mr-4 font-bold">3</p>
            <p class="text-black font-bold">Next</p>
        </div>
    </div>  
</template>

<script>
    export default {
        name: 'Services',
        
        data() {
            return {
                payments: [],
            }
        },

        mounted () {
            axios
            .get('billing')
            .then(response => this.payments = response.data)
            .catch(error => console.log(error))
        },
    }
</script>
