<template>
    <div class="profile">
        <h1>Profile</h1>

        <form class="w-full max-w-md">
            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-first-name">
                        First Name
                    </label>
                    <input 
                    v-model="form.inputs.first_name" 
                    id="grid-first-name" type="text" name="first_name" placeholder="Jane" 
                    class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-red rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white">
                    <p class="text-red text-xs italic">Please fill out this field.</p>
                </div>

                <div class="w-full md:w-1/2 px-3">
                    <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-last-name">
                        Last Name
                    </label>
                    <input 
                    v-model="form.inputs.last_name" 
                    id="grid-last-name" type="text" name="last_name" placeholder="Doe" 
                    class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-grey">
                </div>
            </div>


            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full px-3">
                    <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-password">
                        Password
                    </label>
                    <input 
                    v-model="form.inputs.password"
                    id="grid-password" type="password" name="password" placeholder="******************" 
                    class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-grey">
                    <p class="text-grey-dark text-xs italic">Make it as long and as crazy as you'd like</p>
                </div>
            </div>

            
            <div class="flex flex-wrap -mx-3 mb-2">
                <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-city">
                        City
                    </label>
                    <input 
                    v-model="form.inputs.city" 
                    id="grid-city" type="text" placeholder="example: Albuquerque" 
                    class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-grey">
                </div>

                <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-state">
                        State
                    </label>
                    <div class="relative">
                        <select 
                        v-model="form.inputs.state" 
                        id="grid-state"
                        class="block appearance-none w-full bg-grey-lighter border border-grey-lighter text-grey-darker py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-grey">
                            <option>New Mexico</option>
                            <option>Missouri</option>
                            <option>Texas</option>
                        </select>
                        <div class="pointer-events-none absolute pin-y pin-r flex items-center px-2 text-grey-darker">
                            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                        </div>
                    </div>
                </div>

                <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-zip">
                        Zip
                    </label>
                    <input 
                    v-model="form.inputs.zip" 
                    id="grid-zip" type="text" placeholder="example: 90210" 
                    class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-grey">
                </div>
            </div>
        </form>
        
        <button 
        @click="updateProfile()" 
        :disabled="! can_update_profile"
        class="mt-4 bg-grey-light p-4 rounded font-bold">Save</button> {{ status_text }}
    </div>
</template>


<script>
    export default {
        name: 'Profile',

        data () {
            return {
                flags: {
                    form_is_populated: false,
                },
                form: {
                    // status_text: '',
                    inputs: {
                        first_name: '', 
                        last_name: '', 
                        password: '', 
                        city: '', 
                        state: '', 
                        zip: ''
                    }
                },
            }
        },

        created() {
            this.getProfileData()
        },

        mounted() {
            if (this.profile_is_loaded == true) {
                this.populateForm()
            }
        },
        
        computed: {
            profile_details() {
                return this.$store.getters['profile/details']
            },

            profile_is_loaded() {
                return this.$store.getters['profile/is_loaded']
            },

            can_update_profile() {
                return this.profile_is_loaded == true && this.flags.form_is_populated == true && this.$store.getters['profile/status_is_ready'] == true && this.valid_form_inputs_required == true
            },

            valid_form_inputs_required() {
                return this.form.inputs.first_name.trim() != '' && this.form.inputs.last_name.trim() != ''
            },

            status_text() {
                return this.$store.getters['profile/status_text']
            },
        },

        watch: {
            profile_is_loaded(new_val, old_val) {
                // populate form after user profile have been loaded
                if (! this.flags.form_is_populated && this.profile_is_loaded == true) {
                    this.populateForm()
                }
            },
        },

        // filters: {},

        methods: {
            getProfileData() {
                this.$store.dispatch('profile/init', this.$store.getters['auth/user_id'])
            },

            populateForm() {
                this.form.inputs = {
                    first_name: this.profile_details.first_name, 
                    last_name: this.profile_details.last_name, 
                    password: '', 
                    city: this.profile_details.city, 
                    state: this.profile_details.state, 
                    zip: this.profile_details.zip
                }

                if (this.profile_details.city == null) {
                    this.form.inputs.city = '';
                }
                else {
                    this.form.inputs.city = this.profile_details.city;
                }

                if (this.profile_details.state == null) {
                    this.form.inputs.state = '';
                }
                else {
                    this.form.inputs.state = this.profile_details.state;
                }

                if (this.profile_details.zip == null) {
                    this.form.inputs.zip = '';
                }
                else {
                    this.form.inputs.zip = this.profile_details.zip;
                }

                this.flags.form_is_populated = true
            },

            updateProfile() {
                if (
                    this.form.inputs.first_name.trim() == '' || 
                    this.form.inputs.last_name.trim() == ''
                ) {
                    console.log('invalid')
                    return
                }

                this.$store.dispatch('profile/update', this.form.inputs)
            },
        }
    }
</script>

<style scoped>
</style>