<template>
    <div class="cards">
        <router-view />

        <div class="pb-4">
            <div class="flex-row">
                <h2 class="mb-2">{{ name }}</h2>
                <p>{{ sub }}</p>
            </div>
        </div>

        <div class="flex flex-wrap -mx-2">
            <template v-for="(setting, index) in settings">
                <router-link :to="setting.link" :key="index" class="text-black no-underline w-full px-2 py-2">
                    <div class="flex-row hover:bg-black hover:text-white box font-bold border-black p-8 border rounded bg-white shadow">
                        <font-awesome-icon v-bind:icon="setting.icon" class="mr-4" />
                        <p class="font-bold mt-2">{{ setting.name }}</p>
                        <p class="font-light">{{ setting.sub }}</p>
                    </div>
                </router-link>
            </template>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Settings',

        data() {
            return {
                name: 'Settings',
                sub: 'Change your settings for your account',
                settings: [],
            }
        },

        mounted() {
            this.settings = this.$store.state.general.settings_page_items
        },
    }
</script>
