// Tasks

/* 
- Change the add new card button into the last card with a dotted border
- What happens when you add a new card?
- Link to the payments from?

*/
<template>
    <div class="cards">
        <div class="pb-4">
            <div class="flex-row">
                <div>
                    <h2 class="mb-2">{{ name }}</h2>
                    <p>{{ sub }}</p>
                </div>
                <router-link :to="{name:'card-new'}" class="bg-grey-lighter rounded px-8 py-5 justify-end">Add new card</router-link>
            </div>
        </div>

        <div class="flex flex-wrap -mx-2">
            <template v-for="(card, index) in cards">
                <div class="px-2 py-2 w-2/2" :key="index">
                    <div class="flex flex-row hover:bg-black hover:text-white box font-bold border-black p-8 border rounded bg-white shadow">
                        <font-awesome-icon v-bind:icon="card.icon" class="mr-4" />
                        <p>{{ card.number }}</p>
                        <div>
                            <p>{{ card.valid }}</p>
                        </div>
                        <p>VALID THRU</p>
                    </div>
                </div>
            </template>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            name: 'Cards',
            sub: 'Add new card',
            cards: [
                { 
                    number: 'XXX XXXX XXXX 4059', 
                    link: '/dashboard/services',
                    icon: 'edit', 
                    valid: '08/22' 
                },
                { 
                    number: 'XXX XXXX XXXX 3837', 
                    link: '/dashboard/services',
                    icon: 'edit',
                    valid: '08/22' 
                },
            ]
        }
    },

    created() {
        this.initBillingCardData()
    },
    
    computed: {
        xxxcards() {
            return this.$store.getters['billingcards/all']
        },
    },

    methods: {
        initBillingCardData() {
            this.$store.dispatch('billingcards/init')
        },
    },
}
</script>
