<template>
    <div class="cards">
        <div class="pb-4">
            <div class="flex-row">
                <div>
                    <h2 class="mb-2">{{ name }}</h2>
                </div>
            </div>
        </div>

        <div class="flex flex-wrap -mx-2">
            <form @submit.prevent="submit()">
                <div class="form-group">
                    <label>Number</label>
                    <input 
                    type="text" 
                    class="form-control" 
                    placeholder="card number" 
                    v-model="form.inputs.number">
                </div>

                <div class="form-group">
                    <label>CVC</label>
                    <input 
                    type="text" 
                    class="form-control" 
                    placeholder="cvc" 
                    v-model="form.inputs.cvc">
                </div>

                <div class="form-group">
                    <label>Expiration Month</label>
                    <input 
                    type="text" 
                    class="form-control" 
                    placeholder="expiration month" 
                    v-model="form.inputs.exp_month">
                </div>

                <div class="form-group">
                    <label>Expiration year</label>
                    <input 
                    type="text" 
                    class="form-control" 
                    placeholder="expiration year" 
                    v-model="form.inputs.exp_year">
                </div>

                <button class="bg-grey-lighter rounded px-8 py-5 justify-end">Add Card</button>
            </form>

        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                name: 'Adding new Card',
                form: {
                    inputs: {
                        number: '',
                        exp_month: '',
                        cvc: '',
                        exp_year: '',
                    }
                }
            }
        },

        computed: {
            //
        },

        methods: {
            submit() {
                console.log('form:', this.form.inputs)

                this.$store.dispatch('billingcards/add', this.form.inputs)
            }
        },
    }
</script>
