<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card card-default">
                    <div class="card-header">Example Component</div>

                    <div class="card-body">
                        I'm an example component.
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            data: {
                type: String,
                default: 'default value',
            },
        },

        data() {
            return {}
        },

        created() {},

        mounted() {
            
        },

        computed: {},

        methods: {},
    }
</script>
