<template>
    <div>
    </div>
</template>

<script>
    // import Errors from './../../../core/Errors.js';

    export default {
        props: {
            xxx: {
                type: Object,
                default: {},
            },
        },

        data() {
            return {}
        },

        created() {},

        mounted() {},

        computed: {},

        filters: {},

        methods: {},
    }
</script>

<style scoped>
</style>
