<template>
    <div v-show="visibility" class="mt-20 rounded mr-6 w-1/6 text-black bg-grey-lightest fixed z-10 pin-r shadow">
        <!-- Nav -->
        <div class="">
            <ul v-for="(item, index) in items" :key="index" class="p-0">
                <li class="flex  flex-wrap hover:bg-grey-light hover:text-black flex no-underline px-8 py-4 border-grey-light border-b">
                    <div class="w-full">
                        <!-- <router-link :to="item.link" class="w-full no-underline text-black font-bold">
                            {{ item.name }}
                        </router-link> -->
                        <div @click="pushTo(item)" class="w-full no-underline text-black font-bold">
                            {{ item.name }}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</template>


<script>
    export default {
        name: 'Dropdown',

        data() {
            return {
                items: [],
            }
        },

        created() {},

        mounted() {
            this.items = this.$store.state.general.profile_dropdown_items
        },

        computed: {
            visibility() {
                return this.$store.getters['general/profile_dropdown_visibility']
            },
        },

        methods: {
            pushTo(item) {
                if (item.link != '#') {
                    this.toggleProfileDropdownVisibility();
                    this.$router.push({path: item.link})
                    return;
                }

                switch(item.name) {
                    case 'Logout': 
                        this.$store.commit('auth/logout')
                        break;
                }
            },

            toggleProfileDropdownVisibility: function (){
                this.$store.commit('general/toggleProfileDropdownVisibility')
            },
        },
    }
</script>
