<template>
    <div v-show="visibility" class="w-1/4 h-screen text-black bg-grey-lightest fixed z-10 pin-y pin-r shadow">
        <div class="flex justify-end font-bold pt-8  pb-8 px-8 items-center border-b border-grey-ligth">
            <div class="mr-auto flex">
                <font-awesome-icon icon="comment" class="mr-2" />
                <p>Messages</p>
            </div>
            <font-awesome-icon @click="toggleMessagesVisibility()" icon="times" class="" />
        </div>

        <!-- Nav -->
        <div class="">
            <ul v-for="(message, index) in messages" :key="index" class="p-0">
                <li class="flex  flex-wrap hover:bg-grey-light hover:text-black flex no-underline px-8 py-4 border-grey-light border-b">
                    <div class="w-full mb-4">
                        <router-link :to="message.link" class="w-full no-underline text-black font-bold">
                            {{ message.name }}
                        </router-link>
                    </div>
                    <div class="w-full">
                        <p>{{ message.message }} ...</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</template>


<script>
    export default {
        name: 'Messages',

        data() {
            return {
                messages: [],
            }
        },

        computed: {
            visibility() {
                return this.$store.getters['general/messages_bar_visibility']
            },
        },

        created() {},

        mounted() {
            this.messages = this.$store.state.general.messages_bar_items
        },

        methods: {
            toggleMessagesVisibility() {
                this.$store.commit('general/toggleMessageBarVisibility')
            },
        },
    }
</script>
