<template>
    <div class="nav w-full border-b border-grey-lightest bg-white">
        <div class="px-8 py-5 flex justify-end bg-white items-center">
            <button v-on:click="toggleMessagesVisibility()" class="hover:bg-black hover:text-white bg-grey-light px-3 py-3 block mr-2 rounded">
                <font-awesome-icon icon="comment" />
            </button>
            <button v-on:click="toggleNotificationsVisibility()" class="hover:bg-black hover:text-white bg-grey-light px-3 py-3 block mr-2 rounded">
                <font-awesome-icon icon="bell" />
            </button>
            <button @click="toggleProfileDropdownVisibility()" class="flex hover:bg-grey-light p-3 rounded">
                <p class="font-bold">Jack Smith</p>
                <font-awesome-icon icon="angle-down" class="ml-2" />
            </button>
        </div>
    </div>
</template>


<script>
    // import Dashboard from './Dashboard'

    export default {
        name: 'Navbar',

        data(){
            return {
                title: 'Ad Geeks',
            }
        },

        computed: {
            user_full_name() {
                return this.$store.getters['auth/full_name']
            },
        },

        methods: {
            toggleNotificationsVisibility: function (){
                this.$store.commit('general/toggleNotificationBarVisibility')
            },
            toggleMessagesVisibility: function (){
                this.$store.commit('general/toggleMessageBarVisibility')
            },
            toggleProfileDropdownVisibility: function (){
                this.$store.commit('general/toggleProfileDropdownVisibility')
            },
        },
    }
</script>
