<template>
    <transition name="fade">
        <div v-show="visibility" class="w-1/4 h-screen text-black bg-grey-lightest fixed z-10 pin-y pin-r shadow">
            <div class="flex justify-end font-bold pt-8  pb-8 px-8 items-center border-b border-grey-ligth">
                <div class="mr-auto flex">
                    <font-awesome-icon icon="bell" class="mr-2" />
                    <p>Notifications</p>
                </div>
                <font-awesome-icon @click="toggleNotificationsVisibility()" icon="times" class="" />
            </div>

            <!-- Nav -->
            <div class="">
                <ul v-for="(notification, index) in notifications" :key="index" class="p-0">
                    <li class="flex  flex-wrap hover:bg-grey-light hover:text-black flex no-underline px-8 py-4 border-grey-light border-b">
                        <div class="w-full mb-4">
                            <router-link :to="notification.link" class="w-full no-underline text-black font-bold">
                                {{ notification.name }}
                            </router-link>
                        </div>

                        <div class="w-full">
                            <p>{{ notification.message }} ...</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </transition>
</template>

<script>
    export default {
        name: 'Notifications',

        data() {
            return {
                notifications: [],
            }
        },

        computed: {
            visibility() {
                return this.$store.getters['general/notification_bar_visibility']
            },
        },

        mounted() {
            this.notifications = this.$store.state.general.notification_bar_items
        },
        
        methods: {
            toggleNotificationsVisibility: function (){
                this.$store.commit('general/toggleNotificationBarVisibility')
            },
        },
    }
</script>

<style>
    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
        transition: transform 0.5s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
        opacity: 0;
        transform: translateX(200px);
    }
</style>
