<template>
    <div class="w-1/4 h-screen text-black bg-grey-lightest fixed">
        <div class="flex font-bold pt-8 pb-8 px-8">
            <p>{{ title }}</p>
        </div>
        
        <!-- Nav -->
        <div class="">
            <ul v-for="(item, index) in items" :key="index" class="p-0">
                 <li class="hover:border-black flex hover:bg-grey-light">
                    <router-link :to="item.link" class="text-black flex no-underline block h-full w-full px-8 py-8">
                        <font-awesome-icon v-bind:icon="item.icon" /> 
                        <!-- <i class="fa fa-envelope-o mr-2" aria-hidden="true"></i> -->
                        &nbsp;{{ item.name }}
                    </router-link>
                </li>
            </ul>
        </div>
    </div>
</template>


<script>
    export default {
        name: 'sidebar',

        data() {
            return {
                title: 'xx',
                items: []
            }
        },

        mounted() {
            this.title = this.$store.state.general.app_name
            this.items = this.$store.state.general.side_bar_items
        },
    }
</script>


<style lang="scss">
    .router-link-active {
        background:#333;
        color:white;
    }
</style>
