<template>
    <div class="about">
        <div class="pb-4">
            <h2 class="mb-2">{{ name }}</h2>
            <p>{{ sub }}</p>
        </div>

        <div class="flex flex-wrap -mx-2">
            <template v-for="(course, index) in courses">
                <div :key="index" class="px-2 py-2 w-1/3">
                    <div class="flex-row  box font-bold border-black border rounded bg-white shadow overflow-hidden">
                        <img v-bind:src="course.img">

                        <div class="p-4">
                            <p>{{ course.name}}</p>
                            <hr>
                            <div class="text-grey-darker font-light">
                                <p>{{ course.desc }}</p>
                            </div>
                            <hr>
                            <div class="rounded  w-full bg-grey-light">
                                <div class=" rounded bg-black text-xs leading-none py-1 text-center text-white" style="width: 45%">45%</div>
                            </div>
                            <hr>
                        </div>
                            
                        <button class="w-full bg-grey-lighter px-8 py-5 justify-end">{{ course.state }}</button>
                    </div>
                </div>
            </template>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                name: 'Courses',
                sub: 'Here are some mini marketing courses',
                courses: [
                    { 
                        name: 'Funnels 101', 
                        link: '/dashboard/services',
                        desc: 'This is a mini course on how marketing funnels work',
                        state: 'Resume Course',
                        complete: '0%',
                        img: 'https://fiverr-res.cloudinary.com/w_iw_div_1.5,q_auto,f_auto/general_assets/homepage/assets/f6/desktop_guides_build_a_strong_brand.jpg',
                    },
                    { 
                        name: 'Funnels 101', 
                        link: '/dashboard/services',
                        desc: 'This is a mini course on how marketing funnels work',
                        state: 'Resume Course',
                        complete: '0%',
                        img: 'https://fiverr-res.cloudinary.com/w_iw_div_1.5,q_auto,f_auto/general_assets/homepage/assets/f6/desktop_guides_build_a_strong_brand.jpg',
                    },
                ]
            }
        }
    }
</script>
