<template>
    <div class="login">
        <h1>Login</h1>

        <form class="w-full max-w-md" @submit.prevent="onSubmit()">
            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full px-3">
                    <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-password">
                        Username
                    </label>
                    <input v-model="form.data.username" :disabled="isLoggingIn" type="text" placeholder="username" required class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-grey">
                    <p class="text-grey-dark text-xs italic">Enter your username or email</p>
                </div>
            </div>

            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full px-3">
                    <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-password">
                        Password
                    </label>
                    <input 
                    v-model="form.data.password" :disabled="isLoggingIn" required 
                    id="grid-password" type="password" placeholder="******************"                     
                    class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-grey">
                    <p class="text-grey-dark text-xs italic">Make it as long and as crazy as you'd like</p>
                </div>
            </div>

            <button :disabled="!canLogin" type="submit" class="mt-4 bg-grey-light p-4 rounded font-bold">
                <span v-show="!isLoggingIn">Login</span> 
                <span v-show="isLoggingIn">Logging in ...</span> 
            </button>

            <span v-show="!isLoggingIn">
                Not a member yet? <router-link to="/app/signup">Signup</router-link>
            </span>
            
        </form>

        <ul v-show="isError">
            <li v-for="(error, index) in errors" :key="index" v-text="error[0]"></li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: 'login',
        data () {
            return {

                form: {
                    data: {
                        username: 'admin@habitue.com',
                        password: 'admin',
                        // username: 'email_1@email.com',
                        // password: 'qwqwqw'
                    },
                },
            }
        },

        created() {
            if (this.$store.getters['auth/isAuth'] === true) {
                this.$router.push({name:'dashboard'})
            }
        },

        // mounted() {},
        
        computed: {
            isLoggingIn() {
                return this.$store.getters['auth/status'] == 'logging'
            },
            canLogin() {
                if (this.form.data.username && this.form.data.password) {
                    return this.$store.getters['auth/status'] != 'logging'
                }
                return false           
            },

            isError() {
                return this.$store.getters['auth/status'] == 'failed';
            },

            errors() {
                return this.$store.getters['auth/errors']
            },

            isAuth() {
                return this.$store.getters['auth/isAuth'] === true
            },
        },

        filters: {
            customizeErrorMessage(msg) {
                switch(msg) {
                    case 'Unauthorized': 
                        return 'Invalid username or password.';
                        break;
                    default:
                        return 'There was a problem logging in. Please try again.';
                        break;
                }
            }
        },

        watch: {
            isAuth(newVal, oldVal) {
                if (newVal === true) {
                    console.log('auth changed')
                    this.$router.push({name:'home'})
                }
            },
        },

        methods: {
            onSubmit() {
                this.$store.dispatch('auth/login', {
                    username: this.form.data.username,
                    password: this.form.data.password
                })
            },
        }
    }
</script>

<style scoped>
</style>
