<template>
    <div class="register">
        <h1>Signup</h1>

        <form class="w-full max-w-md" @submit.prevent="onSubmit()">
            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full px-3">
                    <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2">
                        Email
                    </label>
                    <input v-model="form.inputs.email" :disabled="is_signing_up" 
                    type="email" placeholder="Email" 
                    required class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-grey">
                </div>
            </div>

            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full px-3">
                    <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2">
                        Password
                    </label>
                    <input v-model="form.inputs.password" :disabled="is_signing_up" 
                    type="password" placeholder="******************" required 
                    class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-grey">
                    <p class="text-grey-dark text-xs italic">Make it as long and as crazy as you'd like</p>
                </div>
            </div>

            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full px-3">
                    <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2">
                        Confirm Password
                    </label>
                    <input v-model="form.inputs.password_confirmation" :disabled="is_signing_up" 
                    type="password" placeholder="******************" required 
                    class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-grey">
                    <p class="text-grey-dark text-xs italic">Repeat password</p>
                </div>
            </div>

            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full px-3">
                    <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2">
                        First Name
                    </label>
                    <input v-model="form.inputs.first_name" :disabled="is_signing_up" 
                    type="text" required 
                    class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-grey">
                </div>
            </div>

            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full px-3">
                    <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2">
                        Last Name
                    </label>
                    <input v-model="form.inputs.last_name" :disabled="is_signing_up" 
                    type="text" required 
                    class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-grey">
                </div>
            </div>

            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full px-3">
                    <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2">
                        City
                    </label>
                    <input v-model="form.inputs.city" :disabled="is_signing_up" 
                    type="text"  
                    class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-grey">
                </div>
            </div>

            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full px-3">
                    <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2">
                        State
                    </label>
                    <div class="relative">
                        <select v-model="form.inputs.state" :disabled="is_signing_up"  
                        class="block appearance-none w-full bg-grey-lighter border border-grey-lighter text-grey-darker py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-grey">
                            <option value="">Select State</option>
                            <option v-for="(state, index) in states" :key="index" :value="state" v-text="state"></option>
                        </select>
                        <div class="pointer-events-none absolute pin-y pin-r flex items-center px-2 text-grey-darker">
                            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full px-3">
                    <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2">
                        Zip
                    </label>
                    <input v-model="form.inputs.zip" :disabled="is_signing_up" 
                    type="text" 
                    class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-grey">
                </div>
            </div>

            <button :disabled="!can_signup" type="submit" class="mt-4 bg-grey-light p-4 rounded font-bold">
                <span v-show="!is_signing_up">Signup</span> 
                <span v-show="is_signing_up">Signing in ...</span> 
            </button>

            <span v-show="!is_signing_up">
                Already a member? <router-link to="/app/login">Signin</router-link> instead
            </span>
        </form>

        <ul v-show="isError">
            <li v-for="(error, index) in errors" :key="index" v-text="error[0]"></li>
        </ul>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                form: {
                    inputs: {
                        email: 'email_1@email.com',
                        password: 'qwqwqw',
                        password_confirmation: 'qwqwqw',
                        first_name: 'user',
                        last_name: 'one',
                        city: '',
                        state: '',
                        zip: '',
                    },
                },

                states: [],
            }
        },

        created() {},

        mounted() {
            this.states = this.$store.getters['signup/states']
        },

        computed: {
            status() {
                return this.$store.getters['signup/status']
            },

            is_signing_up() {
                return this.$store.getters['signup/status'] == 'busy'
            },

            can_signup() {
                return (
                    this.form.inputs.email.trim() != '' && 
                    this.form.inputs.password.trim() != '' && 
                    this.form.inputs.password_confirmation.trim() != '' && 
                    this.form.inputs.password === this.form.inputs.password_confirmation &&
                    this.form.inputs.first_name.trim() != '' && 
                    this.form.inputs.last_name.trim() != ''
                )
            },

            isError() {
                return this.$store.getters['signup/status'] == 'failed'
            },

            errors() {
                return this.$store.getters['signup/errors']
            },
        },

        filters: {
        },

        watch: {
            status(new_val, old_val) {
                if (new_val == 'success') {
                    this.$router.push({ name: 'home' })
                }
            },
        },

        methods: {
            onSubmit() {
                this.$store.dispatch('signup/signup', this.form.inputs)
            },
        },
    }
</script>
