// Tasks

/* 
- Activate will open a form 
- If no purchase yet packages "Looks like you haven't purchased a package yet."
- Add redirect button to purchase a package
*/

<template>
    <div class="about">
        <div class="pb-4">
            <h2 class="mb-2">{{ name }}</h2>
            <p>{{ sub }}</p>
        </div>

        <div class="flex flex-wrap -mx-2 border bg-grey-lightest border-black rounded">
            <template v-for="(message, index) in messages">
                <div :key="index" class="h-auto w-full py-2 px-2">
                    <div class="flex p-2 overflow-hidden flex-row box rounded bg-white shadow">
                        <img v-bind:src="message.img">
                        <p class="font-bold pr-2">{{ message.user}}</p>
                        <p>{{ message.description }}</p>
                    </div>
                </div>
            </template>
            
            <div class="flex p-4">
                <input class="appearance-none block w-full bg-white text-grey-darker border border-black rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white" id="grid-first-name" type="text" placeholder="Type your message">
                <button class="bg-green-dark text-white rounded justify-end ml-2 p-1 h-full p-3">Send</button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                name: 'Chat',
                sub: 'Talk with support open 9:00am - 6:00pm',
                messages: [
                    { 
                        user: 'Joe Walker', 
                        img: '',
                        description: 'Yeah we can do that for you. It will likely be complete by the end of tomorrow so please give us some time.',
                    },
                    { 
                        user: 'Andy Smith', 
                        img: '',
                        description: 'Thanks Joe! Just want we needed!',
                    },
                ]
            }
        }
    }
</script>
