// Tasks

/* 
- Activate will open a form 
- If no purchase yet packages "Looks like you haven't purchased a package yet."
- Add redirect button to purchase a package
*/

<template>
    <div class="about">
        <div class="pb-4">
            <h2 class="mb-2">{{ name }}</h2>
            <p>{{ sub }}</p>
        </div>

        <div class="flex flex-wrap -mx-2">
            <template v-for="(myPackage, index) in myPackages">
                <div class="px-2 py-2 w-1/3" :key="index">
                    <div class="flex-row  box font-bold border-black border rounded bg-white shadow">
                        <img v-bind:src="myPackage.img">

                        <div class="p-4">
                            <p>{{ myPackage.name}}</p>

                            <hr>

                            <div class="text-grey-darker">
                                <p>Purchase Date: <span class="font-light">{{ myPackage.date}}</span></p>
                                <p>Percent Complete:</p>
                            </div>

                            <hr>

                            <div class="rounded  w-full bg-grey-light">
                                <div class=" rounded bg-black text-xs leading-none py-1 text-center text-white" style="width: 45%">45%</div>
                            </div>

                            <hr>
                        </div>

                        <button class="w-full bg-grey-lighter rounded px-8 py-5 justify-end">Activate</button>
                    </div>
                </div>
            </template>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                name: 'My Packages',
                sub: 'A list of your purchased packages',
                myPackages: [
                    { 
                        name: '1 Email Sequence', 
                        link: '/dashboard/services',
                        date: '06/09/18',
                        complete: '80%',
                        img: 'https://fiverr-res.cloudinary.com/w_iw_div_1.5,q_auto,f_auto/general_assets/homepage/assets/f6/desktop_guides_build_a_strong_brand.jpg',
                    },
                ]
            }
        }
    }
</script>
