<template>
    <div class="flex">
		<Notifications></Notifications>
		<Messages></Messages>
		<Dropdown></Dropdown>


		<Sidebar></Sidebar>


        <!-- Page Content -->
        <div class="h-full w-3/4 ml-auto">
                <Navbar ></Navbar>

            <div class="overflow-hidden pt-8 px-8">
                <transition name="router-anim" :duration="{ enter: 400, leave: 0 }" enter-active-class="animated bounceInDown" leave-active-class="animated fade">
                    <router-view />
                </transition>
            </div>
        </div>
    </div>
</template>

<script>
    import Sidebar from './../../components/layouts/Sidebar'
    import Navbar from './../../components/layouts/Navbar'
    import Notifications from './../../components/layouts/Notifications'
    import Messages from './../../components/layouts/Messages'
    import Dropdown from './../../components/layouts/Dropdown'

    export default {
        name: 'dashboard',

        components: {
            'Sidebar': Sidebar,
            'Navbar': Navbar,
            'Notifications': Notifications,
            'Messages': Messages,
            'Dropdown' : Dropdown,
        },
        data() {
            return {
                posts: {
                    title: 'Habitue',
                }
            }
        }
    }
</script>

<style scoped>
@import 'https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css';
.router-anm-enter-active { animation: coming 1s; animation-delay: .5s; opacity: 0s; }
</style>
