<template>
    <div>
        <form>
            <div class="form-group">
                <label>Name</label>
                <input 
                type="text" 
                class="form-control" :class="{'is-invalid':errors.has('name')}" 
                placeholder="product name" 
                v-model="form.name">

                <div v-show="errors.has('name')" class="invalid-feedback" v-text="errors.get('name')"></div>
            </div>
            <div class="form-group">
                <label>Caption</label>
                <input 
                type="text" placeholder="caption" 
                class="form-control" :class="{'is-invalid':errors.has('caption')}" 
                v-model="form.caption">
                <small class="form-text text-muted">A short one-line description of the product.</small>

                <div v-show="errors.has('caption')" class="invalid-feedback" v-text="errors.get('caption')"></div>
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea 
                class="form-control" placeholder="description" 
                :class="{'is-invalid':errors.has('description')}" 
                v-model="form.description"></textarea>

                <div v-show="errors.has('description')" class="invalid-feedback" v-text="errors.get('description')"></div>
            </div>
            <div class="form-group">
                <label>ID</label>
                <input type="text" class="form-control" placeholder="ID">
                <small class="form-text text-muted">If an ID isn't provided, we'll generate one for you.</small>
            </div>
            <div class="form-group">
                <label>Image</label>
                <input type="file" class="form-control" 
                ref="image" accept="image/*" 
                @change="onFileImageChange($event)" >
            </div>
            <button @click.prevent="onSave()" class="btn btn-primary" :disabled="!canSave">Save</button>
        </form>
    </div>
</template>

<script>
    import Errors from './../../../core/Errors.js';

    export default {
        props: {
            data: {
                type: String,
                default: 'default value',
            },
        },

        data() {
            return {
                flags: {
                    form_status: 'initial',
                    is_image_valid: false,
                },
                form: {
                    name: 'Product 02',
                    caption: 'i am a caption',
                    description: 'i am a desc',
                    image: null,
                },

                errors: new Errors(),
            }
        },

        created() {},

        mounted() {
            
        },

        computed: {
            canSave() {
                return this.flags.form_status != 'saving';
            }
        },

        methods: {
            onSave()
            {
                // if (!this.validateForm()) {
                //     return false;
                // }

                this.handleSubmit();
            },

            validateForm()
            {
                if (this.form.name.trim() == '') {
                    this.errors.record({name: 'Name cannot be empty'});

                    return false;
                }
                return true;
            },

            handleSubmit()
            {
                this.flags.form_status = 'saving'

                let form_data = new FormData()
                form_data.append('name', this.form.name)
                form_data.append('caption', this.form.caption)
                form_data.append('description', this.form.description)
                form_data.append('image', this.$refs.image.files[0])

                axios.post(
                    '/admin/product/store', form_data
                )
                .then(response => {
                    // console.log('response:',response)
                    this.flags.form_status = 'done'

                    if (response.data.success === true) {
                        this.flags.form_status = 'success'
                        window.location.href = "/admin/product/show/"+response.data.product.slug
                    }
                })
                .catch(error => {
                    // console.log('error:',error.response)
                    this.errors.record(error.response.data.errors)
                    this.flags.form_status = 'failed'
                })
            },

            onFileImageChange()
            {
                // validate image
                this.flags.is_image_valid = this.validateImage(event.target.files, event.target.value);
            },

            validateImage(fileList, fileValue)
            {
                if (fileList.length < 1)
                {
                    return false;
                }

                // validate file extension
                var allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif)$/i;

                if(!allowedExtensions.exec(fileValue))
                {
                    // this.errors.record({image:['The file is not a valid image. Must only select file type of jpg, jpeg, png and gif']});

                    return false;
                }

                return true;
            },
        },
    }
</script>

<style>
</style>
