<template>
    <div>
        <div v-show="isMoveView">
            <button @click="removeOption()" class="btn btn-warning btn-sm pull-right">remove option</button>
            <button @click="flags.mode='editing'" class="btn btn-default btn-sm pull-right">edit option</button>

            <ul>
                <li>
                    <h4 v-text="option.option"></h4>
                    <p v-text="option.cost"></p>
                </li>
            </ul>
        </div>

        <div v-show="isModeEditing" class="form">
            <div class="form-group">
                <input 
                type="text" 
                class="form-control"
                placeholder="option title" 
                v-model="form.option">
            </div>
            <div class="form-group">
                <input 
                type="number" 
                class="form-control"
                placeholder="option cost" 
                v-model="form.cost">
            </div>
            <button @click="flags.mode='view'" class="btn btn-default btn-sm">cancel</button>
            <button @click="updateOption()" class="btn btn-success btn-sm">update</button>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            option: {
                type: Object,
            },
            index: {
                type: Number
            },
        },

        data() {
            return {
                flags: {
                    mode: 'view',
                },

                form: {
                    option: '',
                    cost: 1.00
                },
            }
        },

        created() {},

        mounted() {
            // populate edit form
            this.form.option = this.option.option;
            this.form.cost = this.option.cost;
        },

        computed: {
            isMoveView() {
                return this.flags.mode == 'view';
            },
            isModeEditing() {
                return this.flags.mode == 'editing';
            },
        },

        methods: {
            removeOption()
            {
                this.$emit('removeOption', {
                    index: this.index
                })
            },

            updateOption()
            {
                // if form has empty
                if (this.form.option == '' || this.form.cost == '') {
                    return false;
                }
                
                this.$emit('updateOption', {
                    option_index: this.index,
                    option_title: this.form.option,
                    option_cost: this.form.cost
                });

                // done. back to view mode
                this.flags.mode = 'view';
            }
        },
    }
</script>
