<template>
    <li class="list-group-item">
        <button @click="removeSelection()" class="btn btn-danger btn-sm pull-right">remove selection</button>

        <br />

        <div v-show="isModeView">
            <h4>
                {{ selection.title }} 
                <button @click="flags.mode='editing'" class="btn btn-default btn-sm">edit</button>
            </h4>
        </div>

        <div v-show="isModeEditing">
            <div class="form-group">
                <label>Title</label>
                <input 
                type="text" 
                class="form-control"
                placeholder="title" 
                v-model="title_form.title">
            </div>
            <button @click="flags.mode='view'" class="btn btn-default btn-sm">cancel</button>
            <button @click="updateSelectionTitle()" class="btn btn-success btn-sm">update</button>
        </div>

        <br />

        <div v-show="isModeView">
            <button @click="showOptionAddForm()" class="btn btn-default btn-sm">Add Option</button>
            <button @click="cancelOptionAddForm()" v-show="canSeeOptionAddForm" class="btn btn-warning btn-sm">cancel</button>

            <br />

            <div v-show="canSeeOptionAddForm" class="form">
                <div class="form-group">
                    <label>Option</label>
                    <input 
                    type="text" 
                    class="form-control"
                    placeholder="option" 
                    v-model="option_add_form.option">
                </div>
                <div class="form-group">
                    <label>Cost</label>
                    <input 
                    type="number" 
                    class="form-control"
                    placeholder="cost" 
                    v-model="option_add_form.cost">
                </div>
                <button @click="addOption()" class="btn btn-default btn-sm btn-block">Save</button>
            </div>

            <br />

            <h5>Options:</h5>
                
            <admin-product-option 
            v-for="(option, index) in selection.options" 
            :key="index" 
            :option="option" 
            :index="index" 
            @removeOption="removeOption" 
            @updateOption="updateOption"></admin-product-option>

               
        </div>

    </li>
</template>

<script>
    export default {
        props: {
            selection: {
                type: Object,
            },
            index: {
                type: Number
            },
        },

        data() {
            return {
                flags: {
                    mode: 'view',
                    show_option_add_form: false,
                },

                title_form: {
                    title: ''
                },

                option_add_form: {
                    option: '',
                    cost: 1.00
                },

                option_edit_form: {
                    option: '',
                    cost: 1.00
                },
            }
        },

        created() {},

        mounted() {
            // populate form
            this.title_form.title = this.selection.title;
        },

        computed: {
            isModeView(){
                return this.flags.mode == 'view';
            },
            isModeEditing(){
                return this.flags.mode == 'editing';
            },

            canSeeOptionAddForm() {
                return this.flags.show_option_add_form;
            },
        },

        methods: {
            removeSelection()
            {
                this.$emit('removeSelection', {index:this.index});
            },

            updateSelectionTitle()
            {
                // if form has empty
                if (this.title_form.title == '' || this.title_form.title == '') {
                    return false;
                }

                this.$emit('updateSelectionTitle', {
                    index:this.index, 
                    title:this.title_form.title,
                });

                this.flags.mode = 'view';
            },

            showOptionAddForm()
            {
                this.flags.show_option_add_form = true;
            },
            cancelOptionAddForm()
            {
                this.flags.show_option_add_form = false;
            },

            addOption()
            {
                // if form has empty
                if (this.option_add_form.option == '' || this.option_add_form.cost == '') {
                    return false;
                }
                
                this.$emit('addOption', {
                    index: this.index,
                    option: {
                        option: this.option_add_form.option,
                        cost: this.option_add_form.cost
                    }
                });

                // clean after submit
                this.flags.show_option_add_form = false;
                this.option_add_form.option = '';
                this.option_add_form.cost = 1.0;
            },

            removeOption(payload)
            {
                this.$emit('removeOption', {
                    selection_index: this.index,
                    option_index: payload.index
                });
            },

            updateOption(payload)
            {
                this.$emit('updateOption', Object.assign({
                    selection_index:this.index
                }, payload));
            }
        },
    }
</script>
