<template>
    <div class="card">
        <div class="card-header" v-text="product.name"></div>

        <div class="card-body">
            <!-- Product View -->
            <div v-show="isProductView">
                <button @click="flags.mode='editing'" class="btn btn-default btn-sm pull-right">Edit Product</button>
                <p>
                    Caption: <span v-text="product.caption"></span>
                </p>
                <p>
                    Description: <span v-text="product.description"></span>
                </p>
            </div>

            <!-- Product Edit Form -->
            <div v-show="isProductEdit" class="form">
                <button @click="flags.mode='view'" class="btn btn-warning btn-sm pull-right">Cancel</button>
                <div class="form-group">
                    <label>Name</label>
                    <input v-model="product_form.name" class="form-control" type="text" placeholder="product name">
                </div>
                <div class="form-group">
                    <label>Caption</label>
                    <input v-model="product_form.caption" class="form-control" type="text" placeholder="caption">
                    <small class="form-text text-muted">A short one-line description of the product.</small>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <input v-model="product_form.description" class="form-control" type="text" placeholder="description">
                </div>

                <button @click="handleUpdateProduct()" class="btn btn-success btn-sm btn-block" :disabled="isProductSaving">Update</button>
            </div>

            <!-- Selections -->
            <div v-show="isProductView">
                <p>DEBUG:: selection JSON: <span v-text="jsonSelection"></span></p>

                <button @click="showSelectionForm()" :disabled="canSeeSelectionForm" class="btn btn-default">Add Selection</button>
                <button @click="cancelSelectionForm()" v-show="canSeeSelectionForm" class="btn btn-warning">cancel</button>

                <br />

                
                <div class="form-group" v-show="canSeeSelectionForm">
                    <input 
                    @keyup.enter="addSelection()" 
                    v-model="selection_form.title" 
                    ref="title" 
                    class="form-control" 
                    :class="{'is-invalid':errors.has('title')}" 
                    type="text" 
                    placeholder="Enter the title of the selection">
                    <small class="form-text text-muted">Type the title and press enter to add selection.</small>
                    <div v-show="errors.has('title')" class="invalid-feedback" v-text="errors.get('title')"></div>
                </div>

                <br />

                <ul class="list-group">
                    <admin-product-selection 
                    v-for="(selection, index) in selections" 
                    :key="index" 
                    :selection="selection" 
                    :index="index"
                    @removeSelection="removeSelection"
                    @updateSelectionTitle="updateSelectionTitle"
                    @addOption="addOption"
                    @removeOption="removeOption" 
                    @updateOption="updateOption"></admin-product-selection>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    import Errors from './../../../core/Errors.js';

    export default {
        props: {
            product: {
                type: Object,
                default: {},
            },
        },

        data() {
            return {
                flags: {
                    mode: 'view',
                    show_selection_form: false,
                    // product_edit_saving: false,
                    product_form_status: 'initial', // initial, saving, done, success, failed
                },

                product_form: {
                    name: '',
                    caption: '',
                    description: ''
                },

                selection_form: {
                    title: '',
                },

                // selections: [{"title":"How many funnel steps do you need?","options":[{"option":"1 new funnel","cost":"25"},{"option":"Choice 2","cost":"10"}]},{"title":"How urgent do you need them?","options":[{"option":"24 hours","cost":"10"},{"option":"slow","cost":"5"}]}],
                selections: [],

                errors: new Errors(),
            }
        },

        created() {},

        mounted() {
            // populate product form
            this.populateData();
        },

        computed: {
            isProductView() {
                return this.flags.mode == 'view';
            },
            isProductEdit() {
                return this.flags.mode == 'editing';
            },
            isProductSaving(){
                return this.flags.product_form_status == 'saving';
            },

            canSeeSelectionForm() {
                return this.flags.show_selection_form;
            },

            jsonSelection() {
                return JSON.stringify(this.selections);
            },
        },

        methods: {
            populateData()
            {
                this.product_form.name = this.product.name;
                this.product_form.caption = this.product.caption;
                this.product_form.description = this.product.description;

                this.selections = JSON.parse(this.product.selections);
            },

            handleUpdateProduct() {
                // validate
                // if (this.product_form.name.trim() == '') {
                //     return false;
                // }

                // prepare 
                this.flags.product_form_status = 'saving';

                let form_data = new FormData();
                form_data.append('id', this.product.id);
                form_data.append('name', this.product_form.name);
                form_data.append('caption', this.product_form.caption);
                form_data.append('description', this.product_form.description);

                // submit
                axios.post(
                    '/admin/product/update', form_data
                )
                .then(response => {
                    this.flags.product_form_status = 'done';

                    if (response.data.success === true) {
                        this.flags.product_form_status = 'success';
                        
                        // update product
                        this.product.name = response.data.product.name;
                        this.product.caption = response.data.product.caption;
                        this.product.description = response.data.product.description;

                        this.populateData();

                        this.flags.mode='view';
                    }
                })
                .catch(error => {
                    // console.log('errors:',error.response.data.errors);
                    this.errors.record(error.response.data.errors);
                    this.flags.product_form_status = 'failed';
                });
            },

            showSelectionForm()
            {
                this.$nextTick(() => this.$refs.title.focus())

                this.flags.show_selection_form = true;
            },
            cancelSelectionForm()
            {
                this.flags.show_selection_form = false;
            },

            addSelection()
            {
                // discontinue if empty return false
                if (this.selection_form.title.trim() == '') {
                    this.errors.record({
                        title: ['Title cannot be empty.'],
                    });
                    return false;
                }

                // discontinue if title already exists
                let valid = true;
                this.selections.forEach(selection => {
                    if (this.selection_form.title.trim() == selection.title) {
                        valid = false;
                    }
                })
                if (! valid) {
                    this.errors.record({
                        title: ['This title is already taken.'],
                    });
                    return false;
                }

                // prepare selection data
                let copy_of_selections = JSON.parse(JSON.stringify(this.selections));
                // copy_of_selections = JSON.parse(copy_of_selections);
                copy_of_selections.push({
                    title: this.selection_form.title,
                    options: []
                });
                copy_of_selections = JSON.stringify(copy_of_selections);

                // submit
                this.updateSelection(copy_of_selections);

                return;
            },

            removeSelection(payload)
            {
                // this.selections.splice(payload.index,1);
                let copy_of_selections = JSON.parse(JSON.stringify(this.selections));

                copy_of_selections.splice(payload.index, 1);
                copy_of_selections = JSON.stringify(copy_of_selections);
                
                this.updateSelection(copy_of_selections);
            },

            updateSelectionTitle(payload)
            {
                // make a copy of the selections
                let copy_of_selections = JSON.parse(JSON.stringify(this.selections));

                copy_of_selections[payload.index].title = payload.title;
                copy_of_selections = JSON.stringify(copy_of_selections);
                
                this.updateSelection(copy_of_selections);
            },

            addOption(payload)
            {
                // make a copy of the selections
                let copy_of_selections = JSON.parse(JSON.stringify(this.selections));

                copy_of_selections[payload.index].options.push(payload.option);
                copy_of_selections = JSON.stringify(copy_of_selections);
                
                this.updateSelection(copy_of_selections);
            },

            removeOption(payload)
            {
                // make a copy of the selections
                let copy_of_selections = JSON.parse(JSON.stringify(this.selections));

                copy_of_selections[payload.selection_index].options.splice(payload.option_index, 1);
                copy_of_selections = JSON.stringify(copy_of_selections);
                
                this.updateSelection(copy_of_selections);
            },

            updateOption(payload)
            {
                console.log('updateOption payload:',payload);
                // make a copy of the selections
                let copy_of_selections = JSON.parse(JSON.stringify(this.selections));

                copy_of_selections[payload.selection_index].options[payload.option_index].option = payload.option_title;
                copy_of_selections[payload.selection_index].options[payload.option_index].cost = payload.option_cost;

                copy_of_selections = JSON.stringify(copy_of_selections);
                
                this.updateSelection(copy_of_selections);
            },

            updateSelection(str_selections)
            {
                let form_data = new FormData();
                form_data.append('id', this.product.id);
                form_data.append('selections', str_selections);

                axios.post('/admin/product/update_selection', form_data)
                .then(response => {
                    // console.log('response:',response);
                    if (response.data.success == true) {
                        this.product.selections = response.data.product.selections;
                        this.selections = JSON.parse(this.product.selections);

                        // // clean after submit
                        this.flags.show_selection_form = false;
                        this.selection_form.title = '';

                        this.errors.clear();
                    }
                })
                .catch(error => {
                    console.log('error:',error);

                    // clean after submit
                    this.flags.show_selection_form = false;
                    this.selection_form.title = '';
                });
            }
        },
    }
</script>
